{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Diego Juan Pablo Quispe Ayala</h5>
                <img src="{{ url_for('static', filename='img/diego.png') }}" class="card-img-top rounded mx-auto d-block integrante-img">
                <p class="card-text">Codigo: u202020065</p>
                <p class="card-text">Carrera: Ciencias de la computacion</p>
                
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Rommel Charapaqui Reluz</h5>
                <img src="{{ url_for('static', filename='img/rommel.png') }}" class="card-img-top rounded mx-auto d-block integrante-img">
                <p class="card-text">Codigo:u202021294 </p>
                <p class="card-text">Carrera: Ciencias de la computacion</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body text-center">
                <h5 class="card-title">Gonzalo Alejandro Jurado Garay</h5>
                <img src="{{ url_for('static', filename='img/gonzalo.png') }}" class="card-img-top rounded mx-auto d-block integrante-img">
                <p class="card-text">Codigo:u202010216</p>
                <p class="card-text">Carrera: Ciencias de la computacion</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

