{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-6" style="float: left;"> 
        <div class="card-integrante">
            <div class="card-body text-center">
                <h5 class="card-title" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Integrantes</h5>
                <img src="{{ url_for('static', filename='img/diego.png') }}" class="card-img-top rounded mx-auto d-block integrante-img">
                <p class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Diego Juan Pablo Quispe Ayala</p>
                <p class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Codigo: u202020065</p>
                <p class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Carrera: Ciencias de la computacion</p>
                
            </div>
        </div>
    </div>

    <div class="col-md-6" style="float: left;">
        <div class="card-integrante">
            <div class="card-body text-center">
                <h5 class="card-title" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Integrantes</h5>
                <img src="{{ url_for('static', filename='img/rommel.png') }}" class="card-img-top rounded mx-auto d-block integrante-img">
                <p class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Rommel Charapaqui Reluz</p>
                <p class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Codigo:u202021294 </p>
                <p class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Carrera: Ciencias de la computacion</p>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="float: left;">
        <div class="card-integrante">
            <div class="card-body text-center">
                <h5 class="card-title" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Integrantes</h5>
                <img src="{{ url_for('static', filename='img/gonzalo.png') }}" class="card-img-top rounded mx-auto d-block integrante-img">
                <p class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Gonzalo Alejandro Jurado Garay</p>
                <p class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Codigo:u202010216</p>
                <p class="card-text" style="font-family: Arial, sans-serif; font-size: 16px; font-weight: bold; color: aliceblue;">Carrera: Ciencias de la computacion</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}



